[submodule "vim-pathogen"]
	path = vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
